@import './index.scss';

label {
  font-size: .8em;
}

input, select {
  border: $border-style !important;
  height: 30px !important;
  font-size: .3em;

  &:focus {
    box-shadow: none !important;
    outline: 0 none;
  }
}
