@import './index.scss';

label {
  font-size: .8em;
}

input, select, .form-control {
  border: $border-style;
  height: 30px;

  &:focus {
    border: $border-style;
    box-shadow: none;
    outline: 0 none;
  }

  &.invalid {
    border-color: $error-red;
  }
}

span.invalid {
  color: $error-red;
}
